<app-navigation-bar></app-navigation-bar>

<section>
  <div class="title-new-contacts">
    <h1>
      Cadastro Novo Contacto
    </h1>
  </div>
</section>

<section>
  <form>
    <div class="grid-container">
      <div class="grid-item">
       <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. pizza" value="sushi">
        </mat-form-field>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-item">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input class=input placeholder="Ex. pizza" value="sushi">
        </mat-form-field>
      </div>
    </div>
  </form>
</section>
