<app-navigation-bar></app-navigation-bar>

<section>
  <div class="title-new-contacts">
    <h1>
      Cadastro Novo Contacto
    </h1>
  </div>
</section>

<section>
  <form [formGroup]="CreateEdiForm">
    <div class="grid-container">
      <div class="grid-item">
       <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome">
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-form-field class="example-full-width">
          <mat-label>Phone</mat-label>
        <input matInput formControlName="phone">
        </mat-form-field>
      </div>
      <div class="grid-item">
        <mat-form-field class="example-full-width">
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </div>
    </div>
    <div class="grid-container-button button_primary_color">
        <button mat-raised-button color="primary" (click)="createContact()">
          Novo Contato
        </button>
    </div>
  </form>
</section>
