  
<app-navigation-bar></app-navigation-bar>
<!-- Header do formulário de criaçõa/edição de usuários -->
<section>
    <div class="title-new-contacts">
        <h1>
            Cadastrar Novo Contato
        </h1>
    </div>
</section>
<!-- Formulário para edição e criação de novo contato -->
<section>
    <form [formGroup]="createEditForm">
        <div class="grid-container">
            <div class="grid-item">
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="name">
                  </mat-form-field>
            </div>
            <div class="grid-item">
                <mat-form-field class="example-full-width">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone">
                  </mat-form-field>
            </div>
            <div class="grid-item">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                  </mat-form-field>
            </div>
        </div>
        <div class="grid-container-button button_primary_color">
            <button *ngIf="!edit1" mat-raised-button color="primary" (click)="createContact()">Salvar Contato</button>
            <button *ngIf="edit1" mat-raised-button color="primary" (click)="editContact()">Editar Contato</button>
        </div>
      </form>
</section>